<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Auth Demo</title>
    </head>
    <body>
        {% block login %}

        {% endblock %}

        {% block profile %}

        {% endblock %}

        {% block signup %}

        {% endblock %}

        {% block reset_password %}

        {% endblock %}

        {% block user_details %}

        {% endblock %}
    </body>
</html>