{% extends 'index.html' %}

{% block reset_password %}
    <form action="/reset/pwd" method="post">
        {% csrf_token %}
        <input type="text" name="user_name" placeholder="Enter Username">
        <input type="password" name="pwd" placeholder="Enter Old Password">
        <input type="password" name="pwd2" placeholder="Enter New Password">
        <input type="submit" value="Reset Password">
    </form>
    <a href="/signup">Create New Account</a><br>
    <a href="/">Login with old password(Changed your mind!!!)</a>
{% endblock %}